// RESET

html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

// VARIABLES

// Container size
$width-height-image: 150px;
$width-options-container: 60%;
$height-options-container: 200px;
$width-symbols-button-and-size-input: 220px;

// Fonts
$font-heading: 'Fascinate Inline', cursive;
$font-basic: 'RocknRoll One', sans-serif;

// Font size
$font-size-30: 30px;

// Colors
$color-black: #000000;
$color-red: #ec0e2a;
$colors-white: #ffffff;

// Paddings
$padding-basic: 15px 0;
$padding-image-and-buttons: 20px;

// Margins
$margin-top-basic: 30px;
$margin-top-options-button-and-size-input: 10px;

// Border styles
$border-basic: 5px solid $color-black;

// Border radius
$border-radius-basic: 20px;

// Transitions
$transition-basic: 0.2s ease-in-out;

// MIXINS

@mixin center-item-in-row() {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin center-item-in-column() {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@mixin distribute-items-evenly-in-column() {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

@mixin custom-button() {
	padding: $padding-basic;
	border: $border-basic;
	border-radius: $border-radius-basic;
	font-family: $font-basic;
	text-align: center;
}

@mixin custom-hover-or-active() {
	background-color: $color-black;
	color: $colors-white;
}
