// OVERALL SIZE
$game-and-game-over-size: 100%;
$game-over-image-size: 150px;

// WIDTHS
$options-container-width: 60%;
$symbols-button-and-size-input-width: 220px;

// HEIGHTS
$options-container-height: 200px;

// FONT FAMILIES
$heading-board-font-family: 'Fascinate Inline', cursive;
$basic-board-font-family: 'RocknRoll One', sans-serif;

// FONT SIZES
$input-and-play-button-font-size: 30px;
$memory-button: 80px;

// COLORS
$heading-color: #eb372d;
$black-color: #000000;
$white-color: #ffffff;
$control-panel-hover: #504d4d;

// PADDINGS
$basic-padding: 15px 0;
$image-and-button-padding: 20px;

// MARGINS
$basic-top-margin: 30px;
$top-options-button-and-size-input-margin: 10px;

// BORDER
$basic-border: 5px solid $black-color;
$basic-border-radius: 20px;

// TRANSITIONS
$basic-transition: 0.2s ease-in-out;
