.game {
	@include center-item-in-row();
	position: relative;
	width: $game-and-game-over-size;
	height: $game-and-game-over-size;
}

.game__board {
	position: absolute;
	border: $board-game-border;
}
