// COLORS
$background-color: #ececec;
$chat-window-box-shadow-color: #bcbcbd;
$bar-content-color: #7b4126;
$chat-card-color: #d2ac96;
$dark-orange: #d27448;
$very-bright-orange: #fbc29c;
$bright-orange: #fe9760;
$normal-orange: #ea8252;
$description-color: #967463;
$messages-container-color: #f1eeca;
$additional-options-color: #e4e1c0;
$additional-options-content-color: #adab90;
$typing-window-color: #fefcd6;
$time-color: #8d8b76;

// GRADIENT
$phone-video-gradient: radial-gradient(circle, #a0c440 0%, #6f9731 100%);
$gray-gradient: radial-gradient(circle, #a9a1a7 0%, #746b6c 100%);

// PADDING
$left-right-padding: 0 15px;
$default-padding: 15px;

// BORDER
$chat-card-border: 3px solid #b89683;
$action-button-border: 2px solid #dc8768;
$additional-options-border: 5px solid $additional-options-content-color;
$text-type-border: 3px solid #e99965;
$message-border: 3px solid #eeebc8;

// FONT-SIZE
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-25: 25px;

// SIZES
$top-bar-content-size: 25px;

// IMAGES
$banner-image: './img/banner.png';
$profile-image: './img/profile.jpg';

// BORDER RADIUS
$chat-window-radius: 15px;
