button {
	background-color: $colors-white;
	outline: none;
	cursor: pointer;
}

.game__board.hide,
.game__game-over.hide,
.game__options.hide {
	display: none;
}

.options__container {
	@include distribute-items-evenly-in-column();
	width: $options-container-width;
	height: $options-container-height;

	.container__heading {
		font-family: $basic-board-font-family;
		font-size: 50px;
	}
}

.options__button {
	@include custom-button();
	margin-top: $margin-top-options-button-and-size-input;
	text-transform: uppercase;
	transition: $transition-basic;
}
