@import './mixins';
@import './variables';
@import './components';

.game {
	@include center-item-in-row();
	position: relative;
	width: 100%;
	height: 100%;
}

.game__board {
	position: absolute;
	border: 2px solid $color-black;
}

.game__game-over {
	@include center-item-in-column();
	width: 100%;
	height: 100%;

	.game-over__heading {
		font-family: $basic-board-font-family;
		font-size: 75px;
	}

	.game-over__image {
		width: $game-over-image-size;
		height: $game-over-image-size;
		padding: $padding-image-and-buttons;
	}

	.game-over__play-again {
		@include custom-button();
		width: 300px;
		margin-top: $margin-top-basic;
		font-size: $font-size-30;
		text-transform: uppercase;
		transition: $transition-basic;

		&:hover {
			@include custom-hover-or-active();
			width: 320px;
		}
	}
}

.game__options {
	@include distribute-items-evenly-in-column();
	position: absolute;
	width: 1000px;
	height: 750px;

	.options__heading {
		font-family: $heading-board-font-family;
		font-size: 90px;
		color: $color-red;
	}

	.board__size-input {
		width: $width-symbols-button-and-size-input;
		padding: $padding-basic;
		margin-top: $margin-top-options-button-and-size-input;
		border: $border-basic;
		font-family: $basic-board-font-family;
		font-size: $font-size-30;
		text-align: center;
		outline: none;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}
}

.symbols__buttons {
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding: $padding-image-and-buttons;

	.symbols__button {
		width: $width-symbols-button-and-size-input;
		font-size: 25px;

		&:hover,
		&.active {
			@include custom-hover-or-active;
		}
	}
}

.options__play-button {
	width: 180px;
	font-size: $font-size-30;

	&:hover {
		@include custom-hover-or-active();
		width: 200px;
	}
}
