@mixin custom-button() {
	padding: $padding-basic;
	border: $border-basic;
	border-radius: $border-radius-basic;
	font-family: $basic-board-font-family;
	text-align: center;
}

@mixin custom-hover-or-active() {
	background-color: $color-black;
	color: $colors-white;
}

@mixin distribute-items-evenly-in-column() {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
