// OVERALL SIZE
$game-over-image-size: 150px;

// WIDTHS
$options-container-width: 60%;

// HEIGHTS
$options-container-height: 200px;
$width-symbols-button-and-size-input: 220px;

// FONT FAMILIES
$heading-board-font-family: 'Fascinate Inline', cursive;
$basic-board-font-family: 'RocknRoll One', sans-serif;

// FONT SIZES
$font-size-30: 30px;

// COLORS
$color-black: #000000;
$color-red: #ec0e2a;
$colors-white: #ffffff;

// PADDINGS
$padding-basic: 15px 0;
$padding-image-and-buttons: 20px;

// MARGINS
$margin-top-basic: 30px;
$margin-top-options-button-and-size-input: 10px;

// BORDER
$border-basic: 5px solid $color-black;
$border-radius-basic: 20px;

// TRANSITIONS
$transition-basic: 0.2s ease-in-out;
