.cell-info-1 {
	color: $info-one-color;
}

.cell-info-2 {
	color: $info-two-color;
}

.cell-info-3 {
	color: $info-three-color;
}

.cell-info-4 {
	color: $info-four-color;
}

.cell-info-5 {
	color: $info-five-color;
}

.cell-info-6 {
	color: $info-six-color;
}

.cell-info-7 {
	color: $info-seven-color;
}

.cell-info-8 {
	color: $info-eight-color;
}
