.control-panel {
	position: absolute;
	top: 35px;
	right: 35px;

	.undo-button {
		@include memory-button();
		margin-right: 40px;
	}

	.load-button {
		@include memory-button();
		margin-right: 40px;
	}

	.save-button {
		@include memory-button();
	}
}
