.menu-container {
	position: relative;
	@include center-item-in-row();
	height: 350px;
	background-color: var(--menu-background-color);
	overflow: hidden;

	.menu-container__subcontainer {
		@include distribute-items-evenly-in-row();
		width: 70%;
		height: 100%;

		.subcontainer__logo {
			width: 267px;
			height: 89px;
		}

		.subcontainer__game-navigation {
			@include distribute-items-evenly-in-row();
			width: 60%;
			height: 100%;
			padding: 40px 0;

			.overlay {
				@include set-overlay-for-game();
			}
		}
	}
}

.game-navigation__tic-tac-toe {
	background-color: var(--game-nav-color-5);

	.tic-tac-toe__heading {
		@include set-heading-for-game(var(--game-nav-color-1));
	}

	.tic-tac-toe__image-container {
		@include set-image-container(var(--game-nav-bright-color-5));
	}

	.tic-tac-toe__image {
		@include set-image(var(--tic-tac-toe-src));
		background-position: center;
	}
}

.game-navigation__battle-ships {
	background-color: var(--game-nav-color-3);

	.battle-ships__heading {
		@include set-heading-for-game(var(--game-nav-color-2));
	}

	.battle-ships__image-container {
		@include set-image-container(var(--game-nav-bright-color-3));
	}

	.battle-ships__image {
		@include set-image(var(--battle-ships-src));
	}
}

.game-navigation__saper {
	background-color: var(--game-nav-color-4);

	.saper__heading {
		@include set-heading-for-game(var(--game-nav-color-5));
	}

	.saper__image-container {
		@include set-image-container(var(--game-nav-bright-color-4));
		background-position: 5px center;
	}

	.saper__image {
		@include set-image(var(--saper-src));
		background-position: center;
	}
}
